<article class="post m-4 p-4 border rounded shadow">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <p class="p-3">{{post_text}}</p>
  </div>
  
  <div class="meta">
    Posted by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>